# Python portable runtime (too large for git)
python_portable/

# Virtual environments
env_agl/
venv_agl/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
#Confidential files
DATA/
# Streamlit cache (keep config)
.streamlit/cache/
.streamlit/credentials.toml
#IGNORE
IGNORE/
.gitignore
# OS files
Thumbs.db
desktop.ini
*.lnk

# Temp files
*.tmp
~$*
#Unused files
VENV_SETUP_README.md

# Version locale
.current_version